

.show-flex {
  display: flex;
  flex-direction: row;
}
.search-input {
  display: block;
  position: relative;
  top: -14px;
  left: 55px;
  border: none;
  outline: none;
}
.collapse-button {
  position: relative;
  display: block;
  top: 11px;
  left: -26px;
  width: 25px;
  height: 26px;
  background: white;
  background-image: url("./arrow-back.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
  border: none;
}
.search-icon {
    position: relative;
    align-self: center;
    left: 10px;
}