@import url('http://fonts.cdnfonts.com/css/bickham-script-pro');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: #FDF9F3;
    font-family:  'Italiana';
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .text{
  font-size: 45px;
  margin-left: 4.72%;
  margin-right: 83.33%;
  margin-top: 3.17%;
  margin-bottom: 80%;
  position: absolute;
  font-family: 'Bickham Script Pro';

}
.text2{
  color: #000;
  font-size: 15px;
  text-decoration: none;
  display: inline-block;

}.text2:hover{
  color: #000;
}
.icons a {
    color: #000;
    font-size: 15px;
    cursor: pointer;
    margin: 0;
}
.space{
  color: var(--main-color);
}
hr {
  position: absolute;
  left: 7.78%;
  right: 7.85%;
  top: 70%;
  bottom: 22%;
  
  border: 1px solid #D5D2CC;
}

