
.Product {
  width: 140px;
}
.Product-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}
.Product-cover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #eee;
}
.Product-AddTo-Cart {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.add {
  background-image: url("./add.svg");
}
.remove {
  background-image: url("./remove.svg");
}
.Product-name {
  margin-top: 10px;
}

/* .book-authors {
  font-size: 0.8em;
  color: #999;
} */