.category__wrapper {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: var(--main-color);
}

.category__wrapper_head {
    position: relative;
    font-family: var(--font-base);
}

.category__wrapper-women, 
.category__wrapper-men {
    position: relative;
}

.category__wrapper-women h2 {
    font-size: 36px;
}

.category__wrapper_head::after,
.category__wrapper-women::after, 
.category__wrapper-men::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 6%;
    width: 90%;
    height: 1px;
    background-color:#D4D2CC;
}