.products__wrapper {
    background: var(--main-color);
    width: 100%;
    min-height: calc(100vh - 52px);
}

.card {
    border: none;
    background-color: transparent !important;
    min-height: 28rem;
    width: 100% !important;
}

.card img{
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.card-body {
    background-color: transparent !important;
    border: 1px solid #D4D2CC !important;
    border-top: none !important;
    position: relative;
}
.item-price {
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .card {
        width: 100% !important;
    }
}